<h1>Sub Show Page</h1>
 <p>Title: <%= @sub.title %></p>
 <p>Description: <%= @sub.description %></p>

<form action="<%= edit_sub_url(@sub) %>" method="POST">
    <input type="hidden" 
    name="authenticity_token" 
      value="<%= form_authenticity_token %>">

    <input type="hidden" name="_method" value="GET">

    <button>Edit Sub</button>
</form>

<section>
  <h2>Posts</h2>
  <% @sub.posts.each do |post| %>
    <ul>
      <li> <%= post.title %> </li>
      <li> Author: <%= User.find(post.author_id).username %> </li>
      <li> <%= post.content %> </li>
  
      <a href="<%= edit_sub_post_url(post) %>"><button>Edit Post</button></a>

    </ul>
  <% end %>
</section>

<section>
  <form action=" <%= new_sub_post_url(@sub) %> " method="GET">
    <input type="hidden" 
      name="authenticity_token" 
      value="<%= form_authenticity_token %>">
      <button>Create Post</button>
  </form>
</section>
